<h6>Dashboard</h6>
<h3>Welcome {{name}} </h3>
<p>Here are your entries</p>
{{#if entries}}
<div class="entry-wrapper">
  <table class="stripped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each entries}}
      <tr>
        <td><a class="cyan-text text-darken-2" href="/thoughts/{{_id}}">{{title}}</a></td>
        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
        <td><span class="dash-status">{{status}}</span></td>
        <td>
          <a href="/thoughts/edit/{{_id}}" style="width: 50px" class="btn dynamic-state btn-float blue darken-4">
            <i class="fas fa-edit"></i>
          </a>
          <form action="/thoughts/{{_id}}" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn dynamic-state red darken-4">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <p>You have not documented any of your thoughts</p>
{{/if}}